<a href="https://colab.research.google.com/github/adamott/AdamTraining/blob/main/Day3_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# FOR loop example
fruits = ["banana", "apple", "papaya"]
for fruit in fruits:
    print("I like", fruit)

I like banana
I like apple
I like papaya

In [3]:
# WHILE loop example
count = 0
while count < 3:
    print("Counting:", count)
    count += 1

Counting: 0
Counting: 1
Counting: 2

In [12]:
# BREAK and CONTINUE
for i in range(5500):
    if i == 3:
        continue  # skip 2
    if i == 40:
        break     # stop before 40
    print("Loop value:", i)

Loop value: 0
Loop value: 1
Loop value: 2
Loop value: 4
Loop value: 5
Loop value: 6
Loop value: 7
Loop value: 8
Loop value: 9
Loop value: 10
Loop value: 11
Loop value: 12
Loop value: 13
Loop value: 14
Loop value: 15
Loop value: 16
Loop value: 17
Loop value: 18
Loop value: 19
Loop value: 20
Loop value: 21
Loop value: 22
Loop value: 23
Loop value: 24
Loop value: 25
Loop value: 26
Loop value: 27
Loop value: 28
Loop value: 29
Loop value: 30
Loop value: 31
Loop value: 32
Loop value: 33
Loop value: 34
Loop value: 35
Loop value: 36
Loop value: 37
Loop value: 38
Loop value: 39

SUM OF EVEN NUMBERS

In [14]:
n = int(input("Enter a number: "))
total = 0
for num in range(1, n+1):
    if num % 2 == 0:
            total += num
            print(f"Sum of even numbers: {total}")

Enter a number: 6
Sum of even numbers: 2
Sum of even numbers: 6
Sum of even numbers: 12

MULTIPLICATION TABLES

In [17]:
num = int(input("Enter a number: "))
for i in range(1, 15):
    print(f"{num} x {i} = {num*i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70

GUESS THE NUMBER GAME

In [19]:
import random

target = random.randint(1, 10)
attempts = 0

while True:
    guess = int(input("Guess (1-10): "))
    attempts += 1

    if guess < target:
        print("Too low!")
    elif guess > target:
        print("Too high!")
    else:
        print(f"Correct! Guesses: {attempts}")
        break

Guess (1-10): 8
Too low!
Guess (1-10): 9
Correct! Guesses: 2